:root{
    --white:#dcdcdd;
    --gray:#C5C3C6;
    --black:#46494C;
    --darkb-blue:#4C5C68;
    --light-blue:#1985A1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    height: auto;
}

.s1{
    width: 100%;
    height: auto;
}

.wrap-img{
    width: 100%;
}

.img{
    width: 100%;
    height: auto;
}

.wrap-text{
    width: 100%;
    padding: 20px;
}

.title{
    color: var(--light-blue);
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
    font-size: 26px;

}

.text{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

.line1{
    height: 3px;
    background-color: var(--gray);
    width: 100%;
    margin-bottom: 0 auto;
}

@media(width >= 768px){
    .s1{
        min-height: 80vh;
        background-image: url(../images/bakcgroundDesk.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0 4px 20px;
    }
    .img{
        display: none;
    }
    .title{
        font-size: 100px;
    }
    .line1{
        display: none;
    }

    .text{
        font-size: 38px;
        text-shadow: 0 4px 4px rgba(0, 0, 0);
        line-height: 55px;
    }   
}