:root{
    --white:#dcdcdd;
    --gray:#C5C3C6;
    --black:#46494C;
    --darkb-blue:#4C5C68;
    --light-blue:#1985A1;
    
    --black-black: #0B090A;
    --gray-black:#161a1d;
    --red-black:#660708;
    --red:#a4161a;
    --red-bb:#ba181b;
    --light-red:#e5383b;
    --gray-gray:#b1a7a6;
    --gray-blue:#d3d3d3;
    --white-gray:#f3f3f4;
    --white:#ffffff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--gray-black);
    height: auto;
}

.s1{
    width: 100%;
    height: auto;
}

.wrap-img{
    width: 100%;
}

.img{
    width: 100%;
    height: auto;
}

.wrap-text{
    width: 100%;
    padding: 20px;
}

.title{
    color: var(--red-black);
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
    font-size: 26px;

}

.text{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

.line1{
    height: 3px;
    background-color: var(--gray);
    width: 100%;
    margin-bottom: 0 auto;
}
.s2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: auto;
    min-height: 80vh;
    padding: 50px 0px;
}

.wrap-img{
    width: 300px;
    overflow: hidden;
}

.img-card{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.card{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--red);
    border-radius: 20px;
    box-shadow: -5px 4px 15px var(--red-bb);
}

@media(width >= 768px){
    .s1{
        min-height: 80vh;
        background-image: url(../images/bakcgroundDesk.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0 4px 20px;
        box-shadow: 0 4px 20px var(--red-black);
    }
    .img{
        display: none;
    }
    .title{
        font-size: 100px;
        text-shadow: 0 4px 4px rgba(0, 0, 0);
    }
    .line1{
        display: none;
    }

    .text{
        font-size: 38px;
        text-shadow: 0 4px 4px rgba(0, 0, 0);
        line-height: 55px;
    }   
}